<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Backbone Application Development Starter</title>
		<!-- Your utility library -->
		<script src="scripts/underscore-1.5.2.js"></script>
		<!-- Your selector engine -->
		<script src="scripts/jquery-1.9.1.js"></script>
		<script src="scripts/backbone-1.0.0.js"></script>
	</head>
	<body>
		<div id="display">
			<div class="listing">Houston, we have a problem.</div>
		</div>
	<script id="template-contact" type="template">
		<div class="contact">
			<h2><%-firstName%><% if (lastName) { %> <%-lastName%><% } %></h2>
			<a href="mailto:<%-email%>"><%-email%></a><br />
			<a href="tel:<%-phoneNumber%>"><%-phoneNumber%></a><br />
			<button class="delete">Delete</button>
		</div>
	</script>
	</body>
	<script src="scripts/main.js"></script>
	<script src="scripts/models/contact.js"></script>
	<script src="scripts/collections/contact.js"></script>
	<script src="scripts/views/contact.js"></script>
	<script src="scripts/views/directory.js"></script>
</html>

